<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Contacto</h1>

    <ul>
        {% for Contacto in object_list %}
        <li>
            <p>Nombre: {{Contacto.nombre}}</p>
            <p>
                <a href="{% url 'Detail' Contacto.id %}">Detalles</a>
                <a href="{% url 'Edit' Contacto.id %}">Editar</a>
                <a href="{% url 'Delete' Contacto.id %}">Eliminar</a>
            </p>
        </li>
        {% endfor %}

    </ul>
    <p>
        <a href="{% url 'New' %}">Crear</a>
    </p>
</body>
</html>