{% extends 'blog/index.html' %}

{% block General %}

    <ul>
        {% for Contacto in object_list %}
        <li>
            <p>Nombre: {{Contacto.nombre}}</p>
            <p>
                <a href="{% url 'Detail' Contacto.id %}">Detalles</a>
                <a href="{% url 'Edit' Contacto.id %}">Editar</a>
                <a href="{% url 'Delete' Contacto.id %}">Eliminar</a>
            </p>
        </li>
        {% endfor %}

    </ul>
    <p>
        <a href="{% url 'Inicio' %}">Crear</a>
    </p>

{% endblock General %}

