{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Post</title>
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
          <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
              <h1>{{ object.titulo }} </h1>
              <p class=" text-muted">{{ post.autor }} | {{ post.creado_el }}</p>
              <p class="card-text ">{{ object.contenido | safe }}</p>
            </div>
          </div>
        </div>
      </div>

    <script src="{% static 'js/scripts.js' %}"></script> 
</body>
</html>