{% extends 'blog/base.html' %}
{% block FondoAzul %}{% endblock FondoAzul %}

{% block FondoBlanco %}
<!-- +++++++++++++++++++++++  GON: DATOS DE CONTACTO +++++++++++++++++++++++++++++ -->
        <form method="post">{% csrf_token %}
            Estas seguro de eliminar el Post {{ object.titulo }}?
            <br>
            <input type="submit" value="Enviar">
        </form>

<!-- +++++++++++++++++++++++  GON: Crear botón para volver a pag principal ++++++++++ -->
        <br>
        <p>
            <a href="{% url 'post_list' %}">Cancelar</a>
        </p>

{% endblock FondoBlanco %}

{% block Footer %}{% endblock Footer %}