{% extends 'blog/base_post.html' %} {% block contenido %}

<!-- +++++++++++++++++++++++  GON: DATOS DE CONTACTO +++++++++++++++++++++++++++++ -->
    <div class="card-body">        
        <form method="post">{% csrf_token %}
                Estas seguro de eliminar el Post: <b>{{ object.titulo }}? </b>

                <input type="submit" class= "btn btn-danger mb-2" value="Sí, eliminar">
        </form>
            <a class="btn btn-secondary mb-2" href="{% url 'post_list' %}">Cancelar</a>
    </div>

{% endblock contenido %}
