{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Post</title>
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
    <script>window.CKEDITOR_BASEPATH = '/static/root/ckeditor/ckeditor/';</script>
</head>
<body>

    <div class="col-md-8 mt-3 left" style="margin:0px 0px 0px 50px">
        <h1>Posteos 
            <ul>
            <a href="{% url 'post_create'%}">Crear</a>    
            <a href="{% url 'Inicio'%}">Inicio</a>        
            </ul>
        </h1>        
        {% for Post in post_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ Post.titulo }}</h2>
                <p class="card-text text-muted h6">{{ Post.autor }} | {{ Post.creado_el}} </p>
                <p class="card-text">{{Post.contenido|slice:":200"|safe}}</p>
                <a href="{% url 'post_detail' Post.slug %}">...Ver mas -></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/scripts.js' %}"></script> 
</body>
</html>