{% extends 'blog/base_post.html' %}

{% block contenido %}
<body>
    <div class="col-md-8 mt-3 left" style="margin:0px 0px 0px 50px">
        <h1>Mis Posteos 
            <ul>
                <a class="btn btn-secondary mb-2" href="{% url 'Inicio'%}">Inicio</a>   
                <br>
            <!-- Si el usuario es Admin mostrar boton crear -->
                {% if request.user.is_authenticated and user.is_staff == 1%}
                    <a class="btn btn-secondary mb-2" href="{% url 'post_create'%}">Crear</a>
                {% endif %}
                <br>
                <a class="btn btn-secondary mb-2" href="{% url 'post_list'%}">Volver</a>     
            </ul>
        </h1>        
        {% for Post in post_list %}
            {% if user.is_authenticated and user.username == Post.autor.username %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ Post.titulo }}</h2>
                    <p class="card-text text-muted h6">{{ Post.autor }} | {{ Post.creado_el}} </p>
                    <p class="card-text">{{Post.contenido|slice:":200"|safe}}</p>
                    <a class="btn btn-primary" href="{% url 'post_detail' Post.slug %}">...Ver mas -></a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
{% endblock contenido %}
