{% block sidebar %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Hola! Somos Gonza, Facu y Nata, un grupo de amigos que decidió crear este espacio para compartir con ustedes esto que nos apasiona: recetas y tips de cocteles ricos, llenos de sabores y para pasar buenos momentos con amigos. Creemos que no hace falta ser un barman super experimentado o tener ingredientes complejos para hacer un buen trago, sino que, una buena receta y muchas ganas de probar algo rico y hecho con dedicación.

            Esta idea surge a partir de las experiencias de cada uno en sus viajes, en donde fuimos descubriendo distintos sabores y combinaciones de los mas variados ingredientes. Además nos dimos cuenta de que, la gente muchas veces quiere preparar sus cocteles en casa, pero termina sin hacerlos por no encontrar recetas simples y sin tantos ingredientes complejos. Si queres saber mas de nosotros, escribinos!</p>
        <a href=" {% url 'Inicio' %}"
           class="btn btn-danger">Visita nuestra web!</a>
    </div>
</div>
</div>
{% endblock sidebar %}