{% extends 'AppLog/login.html' %}

{% block header %}
<h1 class="masthead-heading bg-secondary text-white text-center mb-5">
            <div><a class="text-white">Hola Usuario:</a>
                <em><strong class="text-danger text-uppercase"> {{request.user}}! </strong>
                </em>
            </div>
            <div><a class="text-white">Aquí puedes modificar tu perfil</a></div>
</h1>
{% endblock header %}
{% block cuerpo %}
    <div class='form-inline flex-column flex-sm-row'>
        <img style="height: 200px;margin: 25px 100px 0px 100px;float:left;" src="{{user.avatar.imagen.url}}">
        <img style="height: 200px;float:left;">
        <form action="" method="post"> {% csrf_token %}
            <table>
                    {{miFormulario.as_table}}
            </table>
            <input type="submit" class="btn btn-secondary mb-2 " value="Modificar">
            <a href="{% url 'Inicio' %}" class="btn btn-secondary mb-2">Cancelar</a>
        </form>
    </div>
{% endblock cuerpo %}   