{% extends 'AppLog/login.html' %}

{% block header %}
<h1 class="masthead-heading bg-secondary text-white text-center mb-5">
            <div><a class="text-white">Hola Usuario:</a>
                <em><strong class="text-danger text-uppercase"> {{request.user}}! </strong>
                </em>
            </div>
            <div><a class="text-white">Aquí puedes modificar tu perfil</a></div>
</h1>
{% endblock header %}
{% block cuerpo %}
<div class="container text-left">
    <form action="" method="post"> {% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit" class="btn btn-secondary mb-2 " value="Modificar">
    </form>
    <a href="{% url 'Inicio' %}" class="btn btn-secondary mb-2">Cancelar</a>
</div>
{% endblock cuerpo %}   
<body>
    <h1>Formulario editar perfil</h1>
    <h1>De {{request.user}}</h1>

    <form action="" method="post"> {% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Modificar">
    </form>
</body>
</html>